ctransformers #to use quantized model
sentence-transformers #to download embedding model
langchain
langchain_huggingface
langchain-community
langchain_pinecone
pinecone-client
pypdf
flask
python_dotenv # to read .env file
-e . # to run setup.py and install the new package 